nav {
    position: fixed;
    background-color: rgba(51,51,51,.8);
    width: 100%;
    z-index: 1000;
}
.navbarMenu {
    float: right;
    background: #fff;
    height: 100vh;
    z-index: 1000;
    padding: 100px;
    font-size: 30px;
}
.fa-navicon {
    color: #000;
    font-size: 28px;
}
.fa-navicon:hover {
    color: #f44;
}
.fa-home {
    color: #f44; 
    font-size: 25px;
}

.fa-home:hover {
    text-decoration: none;
    color: #f44; 
}
.container-fluid{
    overflow:hidden;
}

.news {
    background-image: url("../images/newsbg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
.news-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.news-content > span {
    text-align: center;
    color: #f44;
    text-shadow: -1px -1px 1px #000;
    font-size: 1.17em;
    font-weight: bold;
}
.news-content img {
    float: right;
    height: 300px;
    margin-top: 100px;
}

.about-us {
    background-image: url("../images/aboutUsbg.jpg");
    background-position: center;
    max-height: 600px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    box-sizing: border-box;
}
.about-us-content {
    padding: 0 240px;
}

.about-us-ins {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.about-right-side img {
    width: 350px;
}
.about-left-side div {
    text-align: justify;
    padding: 30px 20px;
}
.about-left-side h6 {
    text-align: justify;
    padding: 0 20px;
}
.about-us-bg {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.work {
    background: #eee;
    text-align: center;
    padding: 50px 0;
}
.work-content div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 0;
}

.work-btn {
    display: none;
    top:0;
    position: absolute;
    width: 100%;
    height: 250px;
    background: rgb(0, 0, 0, 0.6);
    color: #fff;
    font-size: 40px;
}

.fa-paperclip:hover {
    color: #f44;
    
}
.work-text {
    
    color: #fff;
    font-size: 15px;
}

.offer-content {
    background: #fff;
    padding: 50px 70px;
    text-align: center;
}

.offer-content div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    margin: 20px 0;
}

.work-logo img{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}
.offer-content div div{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.offer-content div div p{
    text-align: center;
}

.method {
    background: #eee;
}

.method-content {
    background-image: url("../images/portfoliobg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    -webkit-clip-path: polygon(0 5%,100% 0,100% 95%,0 100%);
    clip-path: polygon(0 5%,100% 0,100% 95%,0 100%);
}

.get-start-button {
    background-color: #fff;
    color: #232b36;
    padding: 20px 30px;
    border: 1px solid rgba(35,43,54,.55);
    border-radius: 30px;
    font-weight: 100;
    font-size: 18px;
    margin: 50px;
}

.get-start-button:hover{
    transition: 0.6s;
    background-color: #232b36;
    color: #fff;
    border: 1px solid #fff;

    
}

.method-content div {
    width: calc(100% + 16px);
    padding: 40px 0;
}

.method-content div h3 {
    margin: 50px 0;
}

.method-content div div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.method-content div div div img {
    border-radius: 50%;
    border: 10px solid #353c46;
}

.method-name {
    color: #fff;
    font-size: 54px;
    position: absolute;
    top: 99px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.method-number {
    color: #ff497c;
    font-weight: bold;
    font-size: 180px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.method-desc {
    color: #666;
    font-weight: bold;
    font-size: font-size: 25px;
    text-align: start;
}

.method-name-number {
    position: relative;
}

.portfolio {
    background: #eee;
}
.portfolio-content {
    text-align: center;
}

.portfolio-content button {
    background: #006400;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.24);
    margin: 0 0 80px;
    font-weight: 600;
}

.portfolio-content button:hover {
    transition: 0.4s;
    background: #008300;
}

.portfolio-content h3 {
    color: #f44;
    margin: 50px 0 0;
}

.portfolio-content h6 {
    color: #939393;
    margin: 0 0 5px;
}

.portfolio-content div {
    padding: 0 50px;
    box-sizing: border-box;
}

.dash {
    border-bottom: 2px dashed silver;
    width: 20%;
    margin: 0 auto 21px;
}

.user-photo {
    border: 2px solid silver;
    border-radius: 50%;
}

.comment {
    font-size: 12px;
    color: #a7a7a7;
}
.card-text {
    color: #919191;
    font-size: 10.5px;
}
.card-2 {
    background: #eee;
}
.user {
    margin: 20px 0;
    padding: 10px 10px;
}

footer {
    background: #232b36;
}